
.top_bar{
  margin-left:80%;
  margin-bottom: 5px;
}
.intro-header{
  width:100%;
  border-style:solid;
  border-color:black;
  display:inline-block;
  background-color: #C1CDCD	;

}
h1{
  line-height: 60%;
}
.main_content{
  width:100%;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  height: 60%;
  display:flex;
  flex-direction: row;

}
.icon{
  margin-top:10px;
  padding-left: 20px;
  display: inline-block;
  line-height:90%;
}
.side_bar{

  width: 13%;
  display: flex;
  flex-direction: column;
  border-style:solid;
}
.element{
  padding-left:30%;
  width: 100%;

  padding-botttom: 10px;
  font-size: 20px;


}
.elementbox{
  background-color: #79CDCD;

  width:100%;
  padding-top:10px;

  border-bottom-style: solid;

}

.content{
  width: 85%;
  border-style:solid;
  display: flex;
  flex-direction: column;
}
.top_content{
  height: 30%;
  padding-top:30px;
  padding-bottom:40px;
}
.bottom_content{
  margin-left: 30px;
  margin-bottom:10px;
}
.patient{
  margin-top:30px;

}
.usage{
  margin-left:10%;
  padding-left: 10%
  margin:auto;
  width: 30%;
  border-style:solid;
  border-width: 3px;
  display: inline-block;

}
#image-title{
  border-style: solid;
  border-width: medium;
  width: 25%;
  margin-left:30%;
  margin-bottom:10px;
  padding-left:10px;
}
#graph{
margin-left: 20%;
margin-right: 25%;
padding-bottom:10%;
}
#h1p{
  font-size: 20px;
  margin-bottom:15px;

}
#pgraph{
    margin-top:10px;
    margin-left:20px;
}
